body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vh;
}

.hero {
  background-image: url(images/bg-pattern-intro-left-mobile.svg) left,
    url(images/bg-pattern-intro-right-mobile.svg) right;

  background-color: hsl(256, 26%, 20%);
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
}

#intro h1,
#about h1,
#how h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

#intro p {
  font-size: 1rem;
}
#intro img {
  width: 100%;
}

/* Buttons */
.intro-btn,
.about-btn,
.how-btn {
  color: white;
  padding: 8px 12px;
  border: 1px solid white;
  background-color: inherit;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  border-radius: none;
}

.intro-btn:hover,
.how-btn:hover {
  color: hsl(256, 26%, 20%);
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

/* How We Work */
#how {
  background-color: hsl(256, 26%, 20%);
  background-image: url(/images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.how-btn {
  border-radius: none;
}

#how h2 {
  color: white;
  text-align: center;
}

/* Footer */
footer {
  background-color: hsl(0, 0%, 98%);
  background-image: url(/images/bg-pattern-footer-mobile.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}

.company {
  display: flex;
  justify-content: center;
  align-content: center;

}

footer span {
  margin-right: 10px;
}

.footer-heading {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: grey;
  display: flex;
  justify-content: center;
  align-content: center
}

.footer-link-list {
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
  
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.footer-list li a {
  color: hsl(270, 9%, 17%);
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-content: center
}

.footer-list li a:hover {
  text-decoration: underline;
  transition: 0.3s all;
}

.margin-48 {
  margin-top: 48px;
}

.icons:hover {
  fill: black;
}

svg .icon {
  fill: "black";
}
 */

/* 
#intro {
}
.hero {
  background-image: url(images/bg-pattern-intro-left-mobile.svg) left,
    url(images/bg-pattern-intro-right-desktop.svg) right;
  max-height: 80vh;
  background-color: hsl(256, 26%, 20%);
  background-repeat: no-repeat;
  color: white;
  width: 100%;
}

#intro h1,
#about h1,
#how h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

#about h3 {
  font-family: "DM Serif Display", sans-serif;
}

#about p,
#intro p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
}
#intro img {
  transform: translateY(20%);

  transform: scale(0.8);
}
.intro-btn,
.about-btn,
.how-btn {
  color: white;
  padding: 8px 12px;
  border: 1px solid white;
  background-color: inherit;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  border-radius: none;
}

.intro-btn:hover,
.how-btn:hover {
  color: hsl(256, 26%, 20%);
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.how-btn {
  border-radius: none;
}

#how {
  background-color: hsl(256, 26%, 20%);
  background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}

#how h2 {
  color: white;
}

.marginn {
  margin-top: 86px;
}

.marginnn {
  margin-top: 128px;
}

.paddingg {
  padding-right: 156px;
}

footer {
  background-color: hsl(0, 0%, 98%);
  background-image: url(/images/bg-pattern-footer-desktop.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
}

footer span {
  margin-right: 10px;
}

.footer-heading {
  font-size: 16px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: grey;
}

.footer-link-list {
  text-transform: uppercase;
  font-family: "Karla", sans-serif;
}

.footer-list {
  list-style: none;
}

.footer-list li a {
  color: hsl(270, 9%, 17%);
  text-decoration: none;
  font-weight: 700;
}

.footer-list li a:hover {
  text-decoration: underline;
  transition: 0.3s all;
}

.margin-48 {
  margin-top: 48px;
}

.icons:hover {
  fill: black;
}

svg .icon {
  fill: "black";
}
 */
/* @media (max-width: 400px) {
  #intro img {
    transform: translateY(0);

    transform: scale(1);
  }
} ; */
